doctype html
html(lang="en")
  head
    title= 'Device Status'
  body
    include style.pug
    table.app-table
      tr
        th='Prop'
        th='Value'
      each entry in props.entrySet()
        tr
          td=entry.key
          td(class=entry.value.longValue() != null ? 'app-num' : '')=entry.value
      tr 
        td='Command'
        td.app-btn 
          a(href='devicestatus/discardstate?deviceId='+props.id)
            input(type='button', value='Discard Registry')
    table.app-table
      tr
        th='Stat'
        th='Value'
      each entry in stats.entrySet()
        tr
          td=entry.key
          td(class=entry.value.longValue() != null ? 'app-num' : '')=entry.value
      tr 
        td='Command'
        td.app-btn 
          a(href='devicestatus/discardstats?deviceId='+props.id)
            input(type='button', value='Discard Stats')
