doctype html
html(lang="en")
  head
    title= 'Devices'
  body
    include style.pug
    table.app-table
      tr
        th='Id'
        th='Type Id'
        th='Type Name'
        th='Name'
        th='Address'
        th='Port'
        th='Signals'
      each item in items
        tr
          td.app-num=item.id()
          td.app-num=item.typeId()
          td=deviceTypesById.get(item.typeId()).name()
          td=item.name()
          td=item.address()
          td.app-num=item.port()
          td.app-btn
            a(href='signal?deviceId='+item.id())
              input(type='button', value='Go')