doctype html
html(lang="en")
  head
    title= 'Signals'
  body
    include style.pug
    table.app-table
      tr
        th='Id'
        th='Device Id'
        th='Data Type Id'
        th='Data Type Name'
        th='Name'
        th='Topic'
        th='Deadband'
        th='On Change'
        th='Full Payload'
        th='Revision'
      each item in items
        tr
          td.app-num=item.id()
          td.app-num=item.deviceId()
          td.app-num=item.dataTypeId()
          td=dataTypesById.get(item.dataTypeId()).name()
          td=item.name()
          td=item.topic()
          td.app-num=item.deadband()
          td=item.isOnChange()
          td=item.hasFullPayload()
          td.app-num=item.revision()